github "AFNetworking/AFNetworking" == 4.0.1
github "SDWebImage/SDWebImageWebPCoder" == 0.8.1
github "airbnb/lottie-ios" == 3.1.8
github "ccgus/fmdb" == 2.7.5
github "cbpowell/MarqueeLabel" == 4.0.2
github "ibireme/YYText" == 1.0.7
github "ibireme/YYImage" == 1.0.4
github "jdg/MBProgressHUD" == 1.2.0
github "facebook/KVOController" == 1.2.0
github "soffes/SAMKeychain" == 1.5.3
github "ZipArchive/ZipArchive" == 2.2.2